.filter {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    background: none;
    outline: none;
    padding: 2px 8px;
    border-radius: 4px;
    font-weight: 200;
    border: 0;
    box-sizing: border-box;
}

.filter.__active {
    border: 1px solid #ebdfdf;
    padding: 1px 8px -1px;
}
