.todo-item {
    padding: 12px;
    border-bottom: 1px solid #e6e6e6;
    background: #fff;
    display: flex;
}
.todo-item:before, .todo-item:after {
    content: '';
    display: table;
}
.todo-item:after {
    clear: both;
}
.hover .todo-item .todo-item_remove-action {
    opacity: 0;
    transition: opacity .2s;
}
.hover .todo-item:hover {
    background: #fafafa;
}
.hover .todo-item:hover .todo-item_remove-action {
    opacity: 1;
}

.todo-item:first-child {
    border-top: 1px solid #e6e6e6;
}

.todo-item_ready-checker {
    float: left;
    align-self: center;
}

.todo-item_remove-action {
    float: right;
    margin-top: 12px;
    margin-bottom: 12px;
    order: 1;
    align-self: flex-end;
}

.todo-item_remove-action .action_visual {
    width: 16px;
    height: 16px;
    min-width: 16px;
    position: relative;
    overflow: hidden;
}

.todo-item_remove-action .action_visual:before,
.todo-item_remove-action .action_visual:after {
    content: '';
    position: absolute;
    width: 21px;
    height: 2px;
    background: #ebdfdf;
    transform-origin: 0 0;
}

.todo-item_remove-action .action_visual:before {
    transform: rotate(45deg);
    left: 1px;
}

.todo-item_remove-action .action_visual:after {
    transform: rotate(-45deg);
    top: 15px;
}

.todo-item_text-w {
    overflow: hidden;
}

.todo-item_text {
    outline: none;
    border: 0;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 24px;
    line-height: 28px;
    font-weight: 300;
    padding: 4px 12px;
    overflow: hidden;
}

.todo-item.__ready .todo-item_text {
    text-decoration: line-through;
}
